<h1>Listing Dojos</h3>
<table>
  <tr>
    <th>Coding Dojo Branch</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
  </tr>

  <% @dojo.each do |dojo| %>
  <tr>
    <td><%= dojo.branch %></td>
    <td><%= dojo.street %></td>
    <td><%= dojo.city %></td>
    <td><%= dojo.state %></td>
  </tr>
  <% end %>
</table>
