<h1 style="border:1px solid black; display:inline-block">The current time and date:</h1>


<p> <%= @time.strftime('%B %d %Y') %></p>
<p> <%= @time.strftime('%I %M %p') %></p>
<p> <%= @time.strftime('%Z') %></p>
