<h1>Hew Dojo</h1>

<form action="/dojos" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Branch:</label>
  <input type="text" name="dojo[branch]", placeholder="branch"><br>
  <label>Street:</label>
  <input type="text" name="dojo[street]", placeholder="street"><br>
  <label>City:</label>
  <input type="text" name="dojo[city]", placeholder="city"><br>
  <label>State:</label>
  <input type="text" name="dojo[state]", placeholder="state"><br>
  <h4><button>Create</button></h4>
</form>

<div id="error">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
      <ul style="list-style:none">
        <li style="color:red"><%= error %></li>
      </ul>
    <% end %>
  <% end %>
</div>

<h4><a href="#">Go Back</a></h4>
