<form action="/users" method="post">
  <h4>Name: <input id="Name" type="text" name="user[name]" value=""></h4>
  <h4>Email: <input id="Email" type="text" name="user[email]" value=""></h4>
  <h4>Password: <input id="Password" type="text" name="user[password]" value=""></h4>
  <h4>Password Confirm: <input id="Password_Confirmation" type="text" name="user[password_confirmation]" value=""></h4>
  <button id="Join">Join</button>
</form>

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color:red"><%= e%></p>
  <% end %>
<% end %>
