
<h2>Edit User <%= @users.name %></h2>

<form action="/users/<%= @users.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
	<h4><label>Name:</label><input type="text" name="name" value=""></h4>
	<button>Edit User</button>
</form>
