<h3>Create a New User</h3>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h4><label>Name</label><br><input type="text" name="name"><br></h4>
  <button>Create User</button>
</form>
